{% extends 'base.html' %}

{% block content %}
</br> </br> </br>
		<img src="{{url_for('static', filename='images/cadastro/CadastrarBackground.jpg')}}"  id="FacaOcadastro">
		<div id="BackgroundCadastro">
		<form id="forum">
			<br></br></br></br>
		 <form method="POST">
		{{formulario.hidden_tag()}}
	<div class="form-group">
		{{formulario.usuario.label}}:  {{formulario.usuario}}
  	</div>
  	<div class="form-group">
		{{formulario.email.label}}:  {{formulario.email}}
  	</div>
  	<div class="form-group">
		{{formulario.password.label}}:  {{formulario.password}}
  	</div>
	  {{formulario.submit}}
	</br>
	
</form>  
{% endblock %}
